<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="multimodalinterviewaiback.mapper.AccuracyEvaluationMapper">

    <insert id="insert" parameterType="multimodalinterviewaiback.pojo.entity.AccuracyEvaluationEntity">
        insert into accuracy_evaluation (report_id, round_number, completeness, logical_rigor,
                                         matching_degree, score, technical_correctness)
        values (#{report_id}, #{round_number}, #{completeness}, #{logicalRigor},
                #{matchingDegree}, #{score}, #{technicalCorrectness})
    </insert>
    <select id="selectId" resultType="java.lang.Integer">
        select id
        from accuracy_evaluation
        where report_id = #{report_id} and round_number = #{round_number}
    </select>
    <select id="getAccuracyEvaluationDTO"
            resultType="multimodalinterviewaiback.pojo.dto.AccuracyEvaluationDTO">
        select completeness, logical_rigor, matching_degree, score, technical_correctness
        from accuracy_evaluation
        where report_id = #{report_id} and round_number = #{round_number}
    </select>

    <delete id="deleteByReportId" parameterType="java.lang.Integer">
        DELETE FROM accuracy_evaluation WHERE report_id = #{reportId}
    </delete>


</mapper>