<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="multimodalinterviewaiback.mapper.ExpressionInfoMapper">
    <insert id="insert" parameterType="multimodalinterviewaiback.pojo.entity.ExpressionInfoEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO expression_info (report_id, round_number, concentration, confidence, doubt, happy, nervous)
        VALUES (#{report_id}, #{round_number}, #{concentration}, #{confidence}, #{doubt}, #{happy}, #{nervous})
    </insert>

    <select id="selectById" parameterType="java.lang.Integer" resultType="multimodalinterviewaiback.pojo.entity.ExpressionInfoEntity">
        SELECT * FROM expression_info WHERE id = #{id}
    </select>
    <select id="getExpressionInfoDTO" resultType="multimodalinterviewaiback.pojo.dto.ExpressionInfoDTO">
        select concentration, confidence, doubt, happy, nervous
        from expression_info
        where report_id = #{report_id} and round_number = #{round_number}
    </select>
    <delete id="deleteByReportId" parameterType="java.lang.Integer">
        DELETE FROM expression_info WHERE report_id = #{reportId}
    </delete>

</mapper>