<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="multimodalinterviewaiback.mapper.QuestionBankDetailMapper">

    <insert id="batchInsert">
        insert into question_bank_detail(question,answer,overview_id)
        values
        <foreach collection="detailList" item="detail" separator=",">
            (#{detail.question},#{detail.answer},#{detail.overviewId})
        </foreach>
    </insert>
    <delete id="deleteByOverviewIds">
        DELETE FROM question_bank_detail
        WHERE overview_id IN
        <foreach collection="overviewIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>