<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="multimodalinterviewaiback.mapper.TrainQuestionSkillMapper">

    <resultMap id="BaseResultMap" type="multimodalinterviewaiback.pojo.vo.AITraining.TrainQuestionSkill">
        <id column="id" property="id"/>
        <result column="question_id" property="questionId"/>
        <result column="skill_name" property="skillName"/>
        <result column="weight" property="weight"/>
    </resultMap>

    <select id="findByQuestionId" resultMap="BaseResultMap">
        SELECT * FROM train_question_skill
        WHERE question_id = #{questionId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO train_question_skill (question_id, skill_name, weight)
        VALUES (#{questionId}, #{skillName}, #{weight})
    </insert>

    <insert id="batchInsert">
        INSERT INTO train_question_skill (question_id, skill_name, weight)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.questionId}, #{item.skillName}, #{item.weight})
        </foreach>
    </insert>

    <delete id="deleteByCreateTag">
        DELETE FROM train_question_skill
        WHERE question_id IN (
            SELECT id FROM train_question WHERE create_tag = #{createTag}
        )
    </delete>

</mapper>